<html>
  <head>
    <title>kabuwum</title>
    <script src="https://kaboom.dev/kaboom.js"></script>
  </head>
  <body>
    <button style="margin:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)">Start Game</button>
    <script>kaboomgame();</script>
  </body>
</html>